
3 minutes ago
/build/
/out/
/cmake-build-*/
/.vs/
/.idea/
/vcpkg/
!/vcpkg.json
!/vcpkg-configuration.json
*.user
*.suo
*.cache
*.ncb
*.sdf
*.opensdf
/imgui.ini
/project/*.hdt
/project/*.spw
/game.db
.DS_Store
Thumbs.db
